body {
  background-image: url(Images/img1.jpg);
  font: normal 75% Arial, helvetica, sans-serif;
  background-color: #000;
  margin: 0px;
  padding: 0px;
}
.top-text {
  color: #fff;
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  backdrop-filter: blur(2px);
  margin-top: 0px;
  background-color: #000;
}
.form-box {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.top-text-h1 {
  margin-top: 2%;
  margin-left: 2%;
}

.flashes {
  background-color: rgb(29, 114, 7);
  color: #fff;
  padding: 0px;
  margin: 0px;
  font-size: large;
}
.btn-login {
  font-size: medium;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  width: 7%;
  border-radius: 25px;
  justify-content: space-between;
  padding: 1% 2% 1% 2%;
  margin: 1% 1% 2% 1%;
  text-align: center;
}
.btn-login-padding {
  font-size: medium;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  width: 7%;
  border-radius: 25px;
  justify-content: space-between;
  padding: 3% 2% 1% 2%;
  margin: 1% 1% 2% 1%;
  text-align: center;
}
a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
.btn-long {
  font-size: large;
  color: rgb(0, 0, 0);
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 25px;
  text-align: center;
  width: 30%;
  padding: 2% 0% 2% 0%;
}

.btn-text {
  padding: 0px;
  margin: 0px;
}
.main-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: large;
  color: rgb(0, 0, 0);
  width: auto;
}
.alert-red {
  background-color: "red";
}
.alert-green {
  background-color: "green";
}
.main-body-text {
  margin-top: 5%;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.main-body-text-1 {
  margin-top: 5%;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.login-card {
  background-color: black;
  border-radius: 20px;
  color: #fff;
  height: 370px;
  width: 75%;
  border-bottom: 1px #fff solid;
  border-right: 1px #fff solid;
  max-width: 400px;
}
.padding-3 {
  padding: 3%;
}

.more-height {
  height: 40%;
}
.font-size {
  font-size: large;
}
.width-80 {
  width: 80%;
}
.card-input {
  width: 75%;
  height: 10%;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  font-size: large;
  text-align: center;
  margin-top: 1.9%;
  border-bottom: 2px rgb(68, 68, 68) solid;
}
.card-input::placeholder {
  color: rgb(51, 51, 51);
}
