<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./index.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homeStyle.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet"> -->
    

    <title>Document</title>
</head>
<body>

    <div class="blur">
        <div class="top-text"> 
         <h1 class="top-text-h1" > < FD /> </h1>
         <div class="flex-btn">
           <span class="btn-login">  <a href="/login" class="link"> Login </a></span> 
            <span class="btn-login"> <a href="/register">Signup</a></span>

         </div>
      



       
        

      </div>

      <div class="hero-card">
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>

       
        <div class="smartphone-123">
            <div class="flex-column">
                <div class="tab-mobile">
                   <div class="smartphone">
                       <div class="content">
                           <ul>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li style="width: 90%"></li>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li style="width: 60%"></li>
                               <li></li>
                               <li></li>
                               <li style="width: 70%"></li>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li></li>
                               <li></li>
                           </ul>
                       </div>
                    </div>

                      <br/>
                      <br/>
                      <br/>
                      
                    <div class="tablet">
                        <div class="content">
                            <div class="wrap">
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 90%"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 60%"></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 70%"></li>
                                    <li style="width: 50%"></li>
                                </ul>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 90%"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 60%"></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 70%"></li>
                                    <li style="width: 80%"></li>
                                </ul>
                            </div>
                        </div>
                        </div> 


        

                          </div>
                          <div class="main-text">
                            <div>  
                              <p class="forge-dht"> < Forge Dht / ></p>
                              <p class="white-text" >.</p>  
                              <div class='container'>
                              <div class='signals'>
                                
                              <span class='signal-1'></span>
                              <span class='signal-2'></span>
                              <span class='signal-3'></span>
                              <span class='signal-4'></span>
                              <span class='signal-5'></span>
                              <span class='signal-6'></span>
                              <span class='signal-7'></span>
                              <span class='signal-8'></span>
                              </div>
                             </div>
                             </div>

                          </div>
                  <div class="laptop-div">   
                  <div class="laptop">
                <div class="content">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li style="width: 90%"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li style="width: 60%"></li>
                        <li></li>
                        <li></li>
                        <li style="width: 70%"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li style="width: 50%"></li>
                        </ul>
                    </div>
                </div> 
            
                </div>
            </div>
    
            
    
    
         </div>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
    
            <div class="feature-div">
                   <div class="feature-card">
                       <img src="https://i.ibb.co/qnPfZyD/feature1.jpg"  class="feature-img" alt=""/>
                       <div class="text-container">
                         <div class="icon bg-blue">        
    
                           <span class="icon-feature "><i class="fas fa-shield-alt"></i></span>
                         </div>
                          <h1 class="color-black ">Easy to Use</h1>
                       </div>            
    
                    </div>
                    <div class="feature-card">
                        <img src="https://i.ibb.co/VQ9Z4wL/feature4.jpg"  class="feature-img" alt=""/>
                        <div class="text-container">
                          <div class="icon bg-green">
                            <span class="icon-feature"><i class="fab fa-pied-piper-hat"></i></span>
                            </div>
                           <h1 class="color-black ">Decentralized</h1>
                        </div>    
             
                     </div>
                     <div class="feature-card">
                        <img src="https://i.ibb.co/qsdqzxh/feature2.jpg"  class="feature-img" alt=""/>
                        <div class="text-container">
                          <div class="icon bg-orange">
                            <span class="icon-feature"><i class="fab fa-staylinked"></i></span>
                          </div>
                           <h1 class="color-black ">Scalable</h1>
                        </div>    
             
                     </div>
    
               </div>
           </body>
         <nav>
         © forge dht || privacy || terms and conditions
         <br/>
     
         <div>

        <h1>
  
        < Forge Dht />
      </h1>
    </div>
  </nav>
</html>