{%extends "layout.html"%}
{% block body %}
<section id="upload_section">
    <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
        <div class="dropzone">
            <i class="material-icons" id="backup_icon">backup</i>
            <p>Upload/Drag & Drop here.</p>
            <input type="file" name="file" class="upload-input" />
        </div>
        <input type="submit" class="upload_button" name="uploadbutton" value="Upload">
    </form>
</section>
{% endblock %}
